<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javen.example.com.news">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".main.activity.home.NewsDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.activity.home.NewsChannelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.home.NewsSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.home.NewsShowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>


</manifest>
